@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color: #f57903;
    --hover-background-color: #fefbec;
    --card-background-color: white;
    --body-background-color: #f4f4f4;
    --border-color: #FEDF89;
    --heading-color: black;
    --pera-color: #6b7280;
    --footer-font-color: #9ca3af;
}

[data-theme="dark"] {
    --hover-background-color: #1a1a1a;
    --card-background-color: #252525;
    --body-background-color: #1a1a1a;
    --border-color: #252525;
    --heading-color: white;
    --pera-color: #f3f4f6;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--card-background-color);
    width: 100%;
}

.nav-bar {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-size: 30px;
    font-weight: 700;
}

.heading a {
    color: var(--heading-color);
    text-decoration: none;
}

nav {
    position: relative;
    height: 25px;
    width: 25px;
}

.theme-btn {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.dark-icon, .light-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.active {
    display: block;
}

.container{
    padding: 110px 25px 80px 25px;
    background-color: var(--body-background-color);
    min-height: 100vh;
}

.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    background-color: var(--card-background-color);
    color: var(--footer-font-color);
    font-size: 14.5px;
}

.copy-right a{
    text-decoration: none;
    color: var(--primary-color);
}

.copy-right a:hover {
    text-decoration: underline;
}

@media (max-width: 47em){

    .copy-right {
        height: 70px;
        flex-direction: column;
        gap: 7px;
    }

    .copy-right .divider {
        display: none;
    }
}